header{
    background-color: rgba(238, 188, 255, 0.959);
    height: 100px; 
}

header h1{
    margin-left: 200px
    
}

h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}

.kk{
    background-color: #daac67;
    text-align: center;
    height: 50px;
    margin-top: -50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.com h1, h2{
    margin-left: 200px
    
}

.ii{
    margin-left: 200px;
    margin-top: 70px;
    border: 2px solid black; /* Adiciona uma borda sólida preta de 4 pixels */
    display: inline-block; /* Permite que a div ocupe apenas o espaço necessário em torno da imagem */
    padding: 10px; /* Adiciona um preenchimento interno de 10 pixels para manter a borda visível */
    width: 750px;
    height: 250px;
    box-shadow: 4px 3px 3px rgb(244, 147, 253);
    border-radius: 25px;
}

#Plus{
    margin-top: 65px;
   
}

.item{
    text-align: center;
}

.name{
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-left: 200px;
    margin-top: -100px;
}

.Desconto{
    color: blue;
    font-size: 20px;
    margin-right: 200px;
}

.mais{
    box-shadow: inset 0px 1px 0px #ffffff;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px;
    text-shadow: 0px 1px 0px #ffffff;
    display: flex;
    text-align: center;
    margin-left: 500px;
    margin-top: -50px;
}

.mais:active{
    position: relative;
    top: 1px;
}

.num{
    font-size: 14px;
    display: flex;
    text-align: center;
    margin-left: 550px;
    margin-top: -20px;
}

.menos{
    box-shadow: inset 0px 1px 0px #ffffff;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px;
    text-shadow: 0px 1px 0px #ffffff;
    display: flex;
    text-align: center;
    margin-left: 575px;
    margin-top: -25px;
}

.botao-com-imagem{
    margin-left: 700px;
    position: relative; /* Define o posicionamento relativo para permitir o deslocamento */
        top: -150px; /* Move o botão para cima em relação à sua posição original */
}

.mm{
    margin-left: 1100px;
    margin-top: -750px;
    position: relative; /* Importante para referenciar o h3 */
}

#pp {
    padding-top: 10px; /* Substitua 10px pelo valor desejado para mover o texto para cima */
    border: 3px solid black; /* Adicionando uma borda sólida preta */
    background-color: rgba(221, 221, 221, 0.363);
    border-radius: 40px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin-top: 70px;

}

.mm h3 {
    margin-left: 10px; /* Define a margem à esquerda */
    font-size: 25px;
    
}

.vl{
    background-color: rgb(124, 79, 111);
    display: block; /* Transforma o botão em bloco */
    margin: 10px auto; /* Margem automática nas laterais centraliza o botão verticalmente */
    margin-top: 100px;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    width: 300px;
    text-shadow: 0px 1px 0px #6d6d6d;
    color: #ffffff;
    
}

#vv{
    margin-top: -50px;
    margin-left: 350px;
}

#uu{
    margin-top: -150px;
}

#vc{
    margin-left: 60px;
    margin-top: -34px;
}

#vx{
    margin-left: 350px;
    margin-top: -50px;
}

#pç{
    margin-top: 300px;
    margin-left: 900px;
}

#cep-form {
    margin: 20px auto;
    text-align: center;
}
#cep-input {
    padding: 8px;
    font-size: 16px;
}
#buscar-button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;

}


        


