header{
    background-color: rgba(238, 188, 255, 0.959);
    height: 100px; 
}

header h1{
    margin-left: 200px
    
}

h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}

.kk{
    background-color: #daac67;
    text-align: center;
    height: 50px;
    margin-top: -50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.com h1, h2{
    margin-left: 200px
    
}

.ii{
    margin-left: 200px;
    margin-top: 70px;
    border: 2px solid black; /* Adiciona uma borda sólida preta de 4 pixels */
    display: inline-block; /* Permite que a div ocupe apenas o espaço necessário em torno da imagem */
    padding: 10px; /* Adiciona um preenchimento interno de 10 pixels para manter a borda visível */
    width: 750px;
    height: 250px;
    box-shadow: 4px 3px 3px black;
    border-radius: 25px;
}

#Plus{
    margin-top: 65px;
   
}

.item{
    text-align: center;
}

.name{
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-left: 200px;
    margin-top: -100px;
}

.Desconto{
    color: blue;
    font-size: 20px;
    margin-right: 200px;
}

.mais{
    box-shadow: inset 0px 1px 0px #ffffff;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px;
    text-shadow: 0px 1px 0px #ffffff;
    display: flex;
    text-align: center;
    margin-left: 500px;
    margin-top: -50px;
}

.mais:active{
    position: relative;
    top: 1px;
}

.num{
    font-size: 14px;
    display: flex;
    text-align: center;
    margin-left: 550px;
    margin-top: -20px;
}

.menos{
    box-shadow: inset 0px 1px 0px #ffffff;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px;
    text-shadow: 0px 1px 0px #ffffff;
    display: flex;
    text-align: center;
    margin-left: 575px;
    margin-top: -25px;
}

.botao-com-imagem{
    margin-left: 700px;
    position: relative; /* Define o posicionamento relativo para permitir o deslocamento */
        top: -150px; /* Move o botão para cima em relação à sua posição original */
}





        


