#vv{
    margin-top: -50px;
    margin-left: 350px;
}

#uu{
    margin-top: -150px;
}

#vc{
    margin-left: 60px;
    margin-top: -34px;
}

#vx{
    margin-left: 350px;
    margin-top: -50px;
}

#pç{
    margin-top: 300px;
    margin-left: 900px;
}