body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Background roxo */
}

header {
    background-color: #c985fa; /* Background roxo */
    padding: 20px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        
}

.caixa-buscar {
    margin: 0 auto;
    max-width: 400px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.caixa-buscar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.caixa-buscar button {
    border: none;
    background: none;
    font-size: 1.5em;
    padding: 0 10px;
    cursor: pointer;
}

nav {
    background-color: #daac67;
    padding: 10px;
    text-align: center;
   
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

nav a:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
    color: #333;
}

.mg{
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 20px;
    
}

#car{
    margin-left: 1000px;
    margin-top: -50px;
}

#entra{
    margin-right: 1200px;
    margin-top: -50px;
}

.servi a{
    display: inline-block; /* Garante que os links fiquem em uma linha */
    margin: 0 10px; /* Adiciona um espaço entre os links */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    
}

.servi{
    text-align: center;
}

#super{
    border-radius: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 2px solid black;
    box-shadow: 4px 3px 3px black;
    padding: 25px;
    background-color: rgba(238, 188, 255, 0.959);
}

#Meu{
    border-radius: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 2px solid black;
    box-shadow: 4px 3px 3px black;
    padding: 25px;
    background-color: rgba(238, 188, 255, 0.959);
}

#compra{
    border-radius: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 7, 7);
    border: 2px solid black;
    box-shadow: 4px 3px 3px black;
    padding: 25px;
    background-color: rgba(238, 188, 255, 0.959);
}

#serv{
    border-radius: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-shadow: 4px 3px 3px black;
    border: 2px solid black;
    padding: 25px;
    background-color: rgba(238, 188, 255, 0.959);
}

.imags {
    text-align: center; /* Centraliza horizontalmente o conteúdo */
}

.imags img {
    display: inline-block; /* Permite que as imagens fiquem em uma linha */
    margin: 0 auto; /* Centraliza horizontalmente as imagens */
    margin: 0 10px;
}

#cate{
    margin-left: 350px;
}

.gostar{
    text-align: center;
}

.gostar img{
    display: inline-block; /* Permite que as imagens fiquem em uma linha */
    margin: 0 auto; /* Centraliza horizontalmente as imagens */
    margin: 0 10px;
}

#gran{
    border-radius: 25px;
    border: 1px solid black;
    padding: 50px;
    box-shadow: 4px 3px 3px black;

}

#esc{
    border-radius: 25px;
    border: 1px solid black;
    padding: 50px;
    box-shadow: 4px 3px 3px black; 
}

#rac{
    border-radius: 25px;
    border: 1px solid black;
    padding: 50px;
    box-shadow: 4px 3px 3px black;
}

#tap{
    border-radius: 25px;
    border: 1px solid black;
    padding: 50px;
    box-shadow: 4px 3px 3px black;
}

.gostar {
    text-align: center; /* Centraliza horizontalmente o conteúdo */
}

.imagem-com-texto {
    position: relative;
    display: inline-block;
    margin: 10px; /* Adiciona um espaço entre as imagens */
}

.imagem-com-texto:hover{
    transform: scale(1.1);
}

.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #daac67;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: black; /* Cor do texto */
    max-width: calc(100% - 10px); /* Largura máxima igual à largura da imagem menos a margem */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: -100px;
}

.button {
    text-align: center;
    margin-top: -40px;
}

.button button {
        margin: 0 70px; /* Adiciona margem de 10px à esquerda e à direita de cada botão */
        width: 150px; /* Define a largura dos botões como 150 pixels */
        height: 40px; /* Define a altura dos botões como 40 pixels */
        font-size: 16px; /* Define o tamanho da fonte dos botões como 16 pixels */
        margin-top: -60px;
        border: 2px solid black; /* Adiciona uma borda sólida de 2 pixels preta aos botões */
        background-color: rgba(238, 188, 255, 0.959); /* Cor de fundo do texto */
        border-radius: 5px;
        box-shadow: 4px 3px 3px black;
       

}

.mensagem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    padding: 10px;
}

.imags:hover{
    transform: scale(1.2);
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.contact-info {
    margin-left: 20px;
    background-color: #ebcfff;
    
}

.social-links a {
    margin-left: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
}